.displayContainer {
    margin: 0px 100px;
    margin-top: 30px;
    width: 310px;
    display: flex; 
    flex-direction: column;
    gap: 10px;
}
.displayContainer>img{
    width: 300px;
    border-radius: 10px 10px 0px 0px ;
}

.nameRatings {
    display: flex;
    justify-content: space-between;
    width: 295px;
    align-items: center;
}
.nameRatings img {
    width: 100px;
    height: 25px;
}
.nameRatings p {
   font-size: 20px;
   margin: 0px;
   margin-top: 10px;
}



@media (max-width:475px) {
    .displayContainer{
    width: 400px;
    margin: 30px 20px 0px 20px;
    display: flex; 
    flex-direction: column;
    gap: 10px;
    padding: 10px; 
} 

.displayContainer>img{
    width: 400px;
    border-radius: 10px 10px 0px 0px ;
}
.nameRatings {
    display: flex;
    justify-content: space-between;
    width: 400px;
    align-items: center;
    
}
}